.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand {
    padding-right: 1rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: inline-block;
    height: 30px;
    width: 60px;
}

.icon__a {
    background: url(/assets/svg/a.svg) no-repeat 50%;
    background-size: 50%;
    height: 41px;
}

.icon__m {
    background: url(/assets/svg/m.svg) no-repeat 50%;
    background-size: 50%;
}

.icon__h {
    background: url(/assets/svg/h.svg) no-repeat 50%;
    background-size: 50%;
}

.icon__l {
    background: url(/assets/svg/l.svg) no-repeat 50%;
    background-size: 100%;
}

.icon__as {
    background: url(/assets/svg/as.svg) no-repeat 50%;
    background-size: 100%;
}

.icon__d {
    background: url(/assets/svg/d.svg) no-repeat 50%;
    background-size: 55%;
    height: 33px;
}